.contact-details-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  &>div {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    flex-basis: 100%;
  }

  .map-container{
    height: 350px;
  }

  .address-details-wrapper {
    margin-top: 1em;

    address {
      font-style: normal;
      line-height: 1.3;
      margin-bottom: 16px;
    }

    a {
      text-decoration: none;
      margin-bottom: 0.5em;
      color: #191919;
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5em;
      }
    }
  }
}

@media screen and (min-width: 600px){
  .contact-details-wrapper {
    .map-container{
      height: 390px;
    }
  }
}

@media screen and (min-width: 900px){
  .contact-details-wrapper {
    flex-direction: row;

    &>div {
      flex-basis: 60%;
    }

    .address-details-wrapper {
      flex-basis: 38%;
      margin-top: 0;
    }
  }
}