.products-categories {
    .card-media-wrapper{
        height: 170px;
    }
}

@media screen and (min-width: 600px){
    .products-categories {
        .card-media-wrapper{
            height: 250px;
        }
    }
}
  
@media screen and (min-width: 900px){
    .products-categories {
        .card-media-wrapper{
            height: 275px;
        }
    }
  }